@charset "utf-8";

.board {
    position: relative;
    margin: auto auto;
}
.block,
.space {
    position: absolute;
    display: inline-block;
    padding: 0;
}
.block {
    color: rgba(255, 255, 255, 0.75);
    background-color: #e74c3c;
    line-height: 2;
    text-align: center;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75), 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: 2px 2px 8px 0px rgba(255, 255, 255, 0.75) inset, -2px -2px 8px 0px rgba(0, 0, 0, 0.75) inset;
}
.space {
}
